<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

    <display-name>Vaadin Web Application</display-name>

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>clickApp</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>com.vaadin.ClickUI</param-value>
            <description>Vaadin UI to display</description>
        </init-param>
         <!--<init-param>-->
            <!--<description>Application widgetset</description>-->
            <!--<param-name>widgetset</param-name>-->
            <!--<param-value>com.vaadin.AppWidgetSet</param-value>-->
        <!--</init-param>-->
    </servlet>

    <servlet>
        <servlet-name>multiClientUI</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>com.vaadin.MultiClientUI</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>multiClientUI</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clickApp</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clickApp</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>